<div class="container-map">
  <div class="extra-margin">
    <h1>All inflatables</h1>

    <div class="container-index">
      <div class="cards">
        <% @inflatables.each do |inflatable| %>
        <div class="card-inflatable">
          <% if inflatable.photo.attachment %>
          <%= cl_image_tag inflatable.photo.key, height: 200, width: 300, crop: :fill %>
          <% else %>
          <img src="https://res.cloudinary.com/djjqbtq0z/image/upload/c_fill,h_300,w_400/awr6uir5uzdk57tfsvsneh0gif8t" />
          <% end %>

          <div class="card-inflatable-infos-big">
            <div class="card-inf-name-and-price">
              <h2><%= link_to inflatable.name, inflatable_path(inflatable) %></h2>
              <h2 class="card-inflatable-pricing">€ <%= inflatable.price %>,-</h2>
            </div>
            <div class="card-inf-description">
              <p><%= inflatable.description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <%= render 'map' %>
    </div>

    <br>
    <%= link_to "+ add an inflatable", new_inflatable_path  %>
    <br>
    <%= link_to "<< back", root_path %>
  </div>
</div>

