<div class="container">

  <div class="cards-show">
    <div class="card-show-img">
      <% if @inflatable.photo.attachment %>
      <%= cl_image_tag @inflatable.photo.key, height: 500, width: 300, crop: :fill %>
      <% else %>
      <img src="https://res.cloudinary.com/djjqbtq0z/image/upload/c_fill,h_500,w_300/87i6kb0kkv4wnko0cdrt42bjpywl" />
      <% end %>
    </div>

    <div class="card-show">
      <h1><%=  @inflatable.name %></h1>
      <p>Description: <%= @inflatable.description %></p>
      <p>Condition: <%= @inflatable.condition %></p>
      <p>Price: <%= @inflatable.price %> €</p>
      <p>Location: <%= @inflatable.location %></p>
      <p>Category: <%= @inflatable.category %></p>
      <hr>
      <h3>Book your inflatable</h3>
        <%= simple_form_for([@inflatable, @booking]) do |f| %>

        <%= f.error_notification %>

        <%= f.input :start_date, as: :string, required: false, input_html: {id: "range_start"} %>

        <%= f.input :end_date, as: :string, required: false, input_html: {id: "range_end"} %>

        <%= f.button :submit, class: "btn-primary" %>
        <% end %>
      <hr>

      <%= link_to "back", inflatables_path %>
    </div>
  </div>
</div>
