<h1><%=  @inflatable.name %></h1>
<p>Description: <%= @inflatable.description %></p>
<p>Condition: <%= @inflatable.condition %></p>
<p>Price: <%= @inflatable.price %> €</p>
<p>Location: <%= @inflatable.location %></p>
<p>Category: <%= @inflatable.category %></p>
<% if @inflatable.photo.attachment %>
  <%= cl_image_tag @inflatable.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<%= link_to "back", inflatables_path %>


<h2>Book your inflatable</h2>

<%= simple_form_for([@inflatable, @booking]) do |f| %>

  <%= f.error_notification %>

  <%= f.input :start_date, as: :date %>

  <%= f.input :end_date, as: :date %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>

<%= link_to "back", inflatables_path %>


<!-- start-date
end-date
status(pending, confirmed) -->
